@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --green: #11ff00;
  --darkgreen: #001200;
  --popgreen: #076600;
  --popgreentwo:#10f70037;
}


/* main */

body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fill {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    object-fit: cover;
}

.heading {
  text-align: center;
  margin: 0;
  background-color: var(--darkgreen);
  color: var(--green);
  border: 1px solid var(--green);
  padding: 1vh;

}

.container {
  background-color: var(--black);
  width: 70%;
  justify-self: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid var(--popgreentwo);
}

/* socials  */
.socials {
  flex: 1 1 calc(25% - 20px);
  justify-items: center;
}

.socials-two {
  margin-left: 50%;
  margin-right: 50%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* space between items */
  padding: 10px;
  justify-content: center;
  /* center the items */
}

.gallery-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--popgreen);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .gallery-item {
    flex: 1 1 calc(33.33% - 20px);
    /* 3 columns */
  }
}

@media (max-width: 900px) {
  .gallery-item {
    flex: 1 1 calc(50% - 20px);
    /* 2 columns */
  }
}

@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 calc(100% - 20px);
    /* 1 column */
  }
}

/* Modal Styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black background with opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}